@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Highlights</h1>
    <p> This is the shit that michael says he wants but has no idea about how to implement </p>

    </div>
